/* CSS Document */
body {margin:0 auto;font-size:12px;font-family:Tahoma,宋体;line-height: 1.5;	color:#333;}
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul { list-style:none;}
img { border:0px;}
a{text-decoration:none;}
a:link,a:visited { color:#333; }
a:hover{color:#ff7300 !important;}
.clearfloat {clear:both;height:0;font-size: 1px;line-height: 0px;}
.justify{text-align:justify;text-justify:kashida;}
.star{font-family:宋体;color:Red;}
.overflowAuto{overflow:auto;zoom:1;}
.floatL{float:left}
.floatR{float:right}
.red{color:Red;}
.gray{color:Gray;}
.bold{font-weight:bold;}
.loading{background:url(/images/loading.gif) no-repeat center center;}
.loading2{background:url(/images/loading2.gif) no-repeat center center;}
.loading3{background:url(/images/loading3.gif) no-repeat center center;}
.loadLeft{padding-left:18px; background-position:left center;display:none;}
.hidden{ visibility:hidden;}
.input-bg{border:solid 1px #ccc; background:url(/images/input-bg.png) no-repeat;}
/**=============通用按扭=============**/
.commBtn{display:block; overflow:auto;zoom:1;float:left;line-height:26px;cursor:pointer;}
a.commBtn:link,a.commBtn:visited{color:White;font-weight:bold;}
a.commBtn:hover{color:#fff !important;}
.commBtn span{display:block;background:url(/images/commBtn.gif);float:left;height:26px;}
.commBtn .cb_l,.commBtn .cb_r{width:5px;overflow:hidden;}
.commBtn .cb_l{background-position:left top;}
.commBtn .cb_r{background-position:right top;}
.commBtn .cb_m{background-position:-5px top;}
.commBtn.loading2{padding-left:12px; background-position:left center;}
a.commBtn.loading2 span{background:none;color:#555;}
