 body{padding:10px;width:700px;height:300px;}
 .headmn{ overflow:auto;zoom:1;}
 .headmn li{ float:left; text-align:center;line-height:36px;height:36px;}
 .tag,.menu1 div{ background:url(../images/orte.gif) no-repeat;}
 .tag{ background-position:-132px -6px;width:12px;}
 .selmemo{}
 .menu1 { position:relative;font-size:14px;font-weight:bold;}
.menu1 div{ position:absolute; top:1px; background-position:0 -200px;width:79px;height:49px;margin-left:10px;_margin-left:7px;}
.ctn{ background:url(../images/bg.gif) repeat-x 0 -90px;height:200px;}