#avatarFile{border: 1px solid #cccccc;background-color: #ededed;}
#divUploadAvatar{clear: both;width: 500px;margin-top: 5px;}
#divContenter{}
#divBG{background-repeat: no-repeat;display:none;}
#divCuter{border: 2px solid orange;height: 175px;width: 175px;}
#imgAvatarView{width: 100px;height: 100px;}
#divUploadTxt{color: #999999;margin: 15px 10px auto 0px;}
#divUploadBtn{margin: 15px 10px auto 0px;}
#divSaveInfo{margin: 5px 10px auto 0px;font-weight: bold;}
.btnAvatar{background-color: #ededed;height: 23px;border: solid 1px #cdcbcb;text-align: center;line-height: 23px;cursor: pointer;}
           