<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产品展示</title>
<meta name="description" content="方伟泽，深圳市福田区华强北路经济大厦D22，主要经营插卡音箱;电话线;电话转接头;电话配件;，86-0755- 82796991，如需购买插卡音箱;电话线;电话转接头;电话配件;，请联系我们方伟泽，一流的质量有竞争力的价格是您的不二选择!" />
<meta name="keywords" content="方伟泽，插卡音箱;电话线;电话转接头;电话配件;" />
<script src="/js/lib.js"></script>
<script src="/js/public.js"></script>
<link rel="stylesheet" rev="stylesheet" href="../css/index.css" type="text/css" media="screen"/>
<script type="text/javascript">

 
	function ImgLoad(obj,w,h,ch){
		changeImg(obj,w,h)
		$(obj).css("margin-top",(ch-$(obj).height())/2)
	}
	
</script>
</head>
<body>
<div class="Main">
	<!--============顶部公共部分开始================-->
	<div class="TopBar">
    	<div class="TopBarContent">
        	<ul>
            	<li class="TopBarLogo"></li>
                <li class="TopBarWelCome">您好，欢迎来到阿里巴巴</li>
                <li class="TopBarLogin"><a href="#">[请登陆]</a> <a href="#">[免费注册]</a></li>
            	<li class="TopBarSpritLine"></li>
                <li class="TopBarOrders">
                	<div class="Order"><a href="#">进货单</a>
                        <div class="OverLine"></div>
                    	<ul> 
                    		<li class="OrderProduct">
                            	<div class="ProductImg">
                                	<img src="http://hiphotos.baidu.com/cuigf_sx_cn/pic/item/2dd12d19f1b11b3ddbb4bd16.jpg" width="64" height="64" onload="changeImg(this,64,64)"/>
                                </div>
                                <div class="ProductMemo">
                                 <div class="ProductName">
                                 	<a href="#">铝合金插卡音箱 TT2 铝合金音响 插卡迷你音箱</a>
								 </div><div class="ProductAccount"><span class="Amount"><b>54.00</b></span>元×<span class="Amount">20</span></div>
                                 <div class="ProductDel">删除</div>
                                </div>
                            </li>
                            	<li class="OrderProduct">
                            	<div class="ProductImg">
                                	<img src="http://hiphotos.baidu.com/pengmeiming/pic/item/b4e2c741e07ed17685947340.jpg" width="64" height="64" onload="changeImg(this,64,64)"/>
                                </div>
                                <div class="ProductMemo">
                                 <div class="ProductName">
                                 	<a href="#">铝合金插卡音箱 TT2 铝合金音响 插卡迷你音箱</a>
								 </div><div class="ProductAccount"><span class="Amount"><b>54.00</b></span>元×<span class="Amount">20</span></div>
                                 <div class="ProductDel">删除</div>
                                </div>
                            </li>
                            <li class="OrderBottom">
                            	<div>共计2种货品（30件）</div>
                                <div>货品合计：<span class="Amount"><b>1840</b><span class="Yuan"> 元</span></span></div>
                                <div class="OrderButtonContainer"><a class="OrderButton" href="#" >查看进货单</a></div>
                            </li>
                    	</ul>
                    </div>
                </li>
                <li class="TopBarSpritLine"></li>
                <li>
                  <a href="#" class="UserCenter">会员中心</a>	
                </li>
                <li class="LiSearch"><input name="" type="text" class="KeyWord" /><input name="" class="BtnSearch" type="button" /><input name="" class="BtnSearch2" type="button" /></li>
            </ul>
        </div>
    </div>
    <!--============顶部公共部分结束================-->
    <!--==============内容部分开始===============-->
    <div class="Content">
    	 <!--==============头部开始，放公司名称或个人名称===============-->
    	<div class="Head">
        	<h1>&nbsp;&nbsp;苏得冠</h1>
        </div>
         <!--==============头部结束，放公司名称或个人名称===============-->
         <!--========菜单开始==============-->
         <div class="HeaderMenuBar">
         	<ul>
            	<li class="Check"><a href="../home/index.html">首页</a></li>
                <li><a href="../product/index.html">供应产品</a></li>
                <li><a href="#">诚信档案</a></li>
                <li><a href="#">公司介绍</a></li>
                <li><a href="../album/index.html">我的相册</a></li>
                <li><a href="#">产品动态</a></li>
                <li><a href="#">在线留言</a></li>
                <li><a href="#">联系方式</a></li>
            </ul>
         </div>
          <!--========菜单结束==============-->
         <div class="Split12px Split12_1">&nbsp;</div>
         <!--========内容中间部分开始=================-->
         	<div class="ContentMiddle">
            	 <!--========左边开始=============-->
            	<div class="MiddleLeft">
                <!--========会员信息开始=============-->
                	<ul class="UserInfo">
                    	<li class="UserInfoHead"></li>
                        <li class="UserInfoMiddle"></li>
                        <li class="UserInfoBottom"></li>
                    </ul>
                    <!--========会员信息结束=============-->
                    <div class="Split12px"></div>
                    <!--========搜索开始=============-->
                     <div class="About">
                    	<div class="AboutHead">
                        	<div class="AHLeft">&nbsp;&nbsp;站内搜索</div>
                        </div>
                        <div class="SearchBody">
                        		<ul class="ulSearch">
                            	<li >产品名<input name="" class="proNameInput" type="text" /></li>
                              
                                <li>&nbsp;&nbsp;价格<input name="" class="minPrice" type="text" />&nbsp;到&nbsp;<input name="" type="text" class="maxPrice" /></li>
                              
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="" type="button" class="SearchBtn" /></li>
                            </ul>
                        </div>
                    </div>
                     <!--========搜索结束=============-->
                     <div class="Split12px"></div>
                     <!--========产品分类开始=============-->
                       <div class="About">
                    	<div class="AboutHead">
                        	<div class="AHLeft">&nbsp;&nbsp;供应产品分类</div>
                        </div>
                        <div class="LeftModleBody">
                        	<div>
                            <ul>
                            	<li><a href="#">铝及铝合金材 </a></li>
                                <li><a href="#">草坪灯</a> </li>
                                <li><a href="#">LED灯具</a> </li>
                                <li><a href="#">格栅灯</a> </li>
                                <li><a href="#">其他室外照明灯具 </a></li>
                                 <li class="clb"><a href="#">更多</a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                      <!--========产品分类结束=============-->
                       <div class="Split12px"></div>
                     <!--========友情连接开始=============-->
                       <div class="About">
                    	<div class="AboutHead">
                        	<div class="AHLeft">&nbsp;&nbsp;友情连接</div>
                        </div>
                        <div class="ContactBody">
                        	<div>
                            <ul>
                            	<li><a href="#">阿里巴巴 </a></li>
                                <li><a href="#">百度 </a></li>
                                <li><a href="#">新浪 </a></li>
                                <li><a href="#">太平洋电脑网 </a></li>
                                <li><a href="#">淘宝网 </a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <!--========友情连接结束=============-->
                      <div class="Split12px"></div>
                   <!--========联系方式开始=============-->
                       <div class="About">
                    	<div class="AboutHead">
                        	<div class="AHLeft">&nbsp;&nbsp;联系方式</div>
                        </div>
                        <div class="ContactBody">
                            <ul>
                            	<li>张梅艳 女士 （销售部 经理）</li>
                                <li class="QQ"><a target=blank href="http://wpa.qq.com/msgrd?V=1&Uin=416351551"><img border=\"0\" SRC="http://wpa.qq.com/pa?p=1:416351551:1" title="给我发消息" alt="给我发消息"></a></li>
                                <li>电&nbsp;&nbsp;&nbsp;&nbsp;话：86 0760 23595389</li>
                                <li>移动电话：18928115884</li>
                                <li>传&nbsp;&nbsp;&nbsp;&nbsp;真：86 0760 22389446</li>
                                <li class="clb"><a href="#">更多</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--========联系方式结束=============-->
                </div>
                 <!--========左边结束============-->
                  <!--========右边开始=============-->
                <div class="MiddleRight">
                    <div class="About">
                    12312
                        
                    </div>
           </div>
                 <!--========右边结束=============-->
            </div>
         <!--========内容中间部分结束=================-->
    </div>
     <!--==============内容部分结束===============-->
     <div class="Split12px"></div>
  <div class="BottomSplitLine">&nbsp;123</div>
     <!--==============底部开始===============-->
     <div class="Bottom">
    
        <p>覃旭 地址： 中国 广东 中山市 中山市小榄永宁岗头村工业区 </p>
        <p>技术支持：<a onmousedown="return aliclick(this,'?tracelog=wp_home_channel')" href="http://page.china.alibaba.com/html/danai/channel_index.html" target="_blank">阿里巴巴</a></p>
        <p><a onmousedown="return aliclick(this,'?tracelog=wp_foot_wpadmin')" href="http://china.alibaba.com/domain/alibaba_manage.htm" target="_blank">旺铺管理入口</a> | <a onmousedown="return aliclick(this,'?tracelog=website_end_inform')" href="http://xuhechai.cn.alibaba.com/esite/duty_free.htm?company=覃旭" target="_blank">免责声明</a></p>
     </div>
      <!--==============底部结束===============-->
</div>
</body>
</html>
