.ctList{margin-bottom:30px;}
.ctList li{margin-top:10px;position:relative; overflow:auto;zoom:1;}
.ctList li span{width:160px; text-align:right;float:left;display:block;line-height:22px;*line-height:26px;margin-right:12px;}
.txtbox{width:234px;height:18px;line-height:18px;border:solid 1px #B5B5B5;}
label.error{display:block;}
label.valid{display:inline}
.Remind{padding:5px;line-height:20px;border:solid 1px #ffc590; background-color:#fff7eb;margin-top:15px;}
.LegRep{width:120px;}
.Monthly{width:60px;}




