<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Com.DianShi.Model.Member.Properties.Settings.DianShiConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DianShi;User ID=ShuInDianShi;Password=Shu6898411;Persist Security Info=False"
            providerName="System.Data.SqlClient" />
        <add name="Com.DianShi.Model.Member.Properties.Settings.DianShiConnectionString1"
            connectionString="Data Source=.\MYSQLEXPRESS;Initial Catalog=DianShi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>