.alkbtn,.btnL,.btnR{ background:url(../images/btn902.png);}
a.alkbtn{height:28px;display:block; background-position:0 -203px; overflow:auto;zoom:1; cursor:pointer;color:#dc7200;}
.alkbtn div{float:left;height:28px;}
.btnL,.btnR{width:15px;}
.btnL{ background-position:-3px -155px;}
.btnR{ background-position:-51px -255px;}
.btnM{ text-align:center;padding:0 6px;}
.abtips,.alkbtn{float:left;line-height:28px;font-size:14px;font-weight:bold;margin-right:10px;}
.abtips{ background:url(../images/2002912.gif) no-repeat 3px 7px; text-indent:20px; font-family:宋体;}
.abhdctn{margin-top:8px;border-bottom:dotted 1px #b6c6dd;padding-bottom:3px;}
.odctn{float:left;}
#pgbox{width:50px;}
.pgctn{float:right;}
#pre,#next{ font-family:宋体;}
.txtbox{width:234px;height:18px;line-height:18px;border:solid 1px #B5B5B5;}
.listctn{margin:0 auto;margin-top:10px;width:730px;}
.listctn li{float:left;width:144px;height:204px;cursor:pointer;}
.listctn li div{width:137px;margin:0 auto; text-align:center;}
.albbg{height:153px; background:url(../images/album.png);display:table-cell; vertical-align:middle; +display:block;+font-family:Arial;+font-size:98px;_font-size:135px; position:relative;}
.albbg img{ vertical-align:middle;}
.ab_out{border:solid 1px #fff;}
.ab_hover{border-color:#e0e8f8; background-color:#fafbfd;}
.albtitle{color:#355eba;font-weight:bold;}
.hvcl{color:#fe5400;}
.albtime span,.permiss{background:url(../images/private.gif) no-repeat;color:#cc0000;}
.albtime span,.edit_alb2,.img_del,.img_move{ background-position:5px 0; _background-position:5px 2px; line-height:20px; padding-left:12px;}
.albtime span,.permiss{padding-left:20px;}
.albtitle span{font-weight:normal;color:#999;font-size:10px;}
.albbg span{display:none; text-align:center;position:absolute;bottom:10px;left:16px;font-size:12px;width:106px;margin:0 auto; background-color:White;}
.albbg a{line-height:20px; padding-left:17px;}
.edit_alb{background:url(../images/6001512.gif) no-repeat 2px 0;}
.del_alb{background:url(../images/1000912.gif) no-repeat 5px 0;}
.item{ overflow:auto;zoom:1;margin-top:6px;}
.itemL{float:left;width:80px; text-align:right;}
.itemR{float:left;}
.wbctn{display:none;}
.wbwrap{padding:10px 20px;width:350px;}
.btnctn{width:170px;margin:0 auto;}
.psw{display:none;}
#wBox .wBox_title{ background:url(/js/wbox/wbox/titlebgdiy.gif) repeat-x;height:28px;color:#2b6fb6;}
.pmpsd{width:120px;}

.covertwrap{height:130px; overflow:auto;zoom:1;margin-top:10px;}
.covertL{float:left; position:relative;width:166px;height:130px;}
.covertR{float:left;height:130px;font-size:14px;}
.covertL div{width:137px;height:153px;line-height:153px; position:absolute;left:27px; background:url(../images/album_cover.png);display:table-cell; vertical-align:middle; +display:block;+font-family:Arial;+font-size:135px;_font-size:135px; text-align:center;}
.covertL div img{ vertical-align:middle;}
.hode{height:28px; background-color:#f8f9fc;border-top:solid 1px #efefef;width:754px;}
.cvritem{margin-top:12px;}
.albname{color:#ff7202;}
.edit_alb2,.img_del,.img_move{background:url(../images/2000512.gif) no-repeat;}
.back{background:url(../images/2004112.gif) no-repeat;padding-left:20px;}
 .list_ctn{background:url(../images/album_detail_bg_2.png) repeat-y;width:770px;padding-left:9px;}
 .img_wrap{width:736px;margin-left:9px;}
 .toobar{margin-top:6px;}
 .img_list{overflow:auto;zoom:1;}
 .img_list li{float:left;width:92px;margin-top:8px;}
 .img_ctn{width:64px;height:64px;padding:1px;border:solid 1px #ccc;margin:0 auto; text-align:center;}