<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Com.Todex.OA.DBUtility.Properties.Settings.TodexOAConnectionString"
            connectionString="Data Source=SERVER01;Initial Catalog=TodexOA;Persist Security Info=True;User ID=Todex_OA;Password=PC)!HP123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>