<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图片展示</title>
<meta name="description" content="方伟泽，深圳市福田区华强北路经济大厦D22，主要经营插卡音箱;电话线;电话转接头;电话配件;，86-0755- 82796991，如需购买插卡音箱;电话线;电话转接头;电话配件;，请联系我们方伟泽，一流的质量有竞争力的价格是您的不二选择!" />
<meta name="keywords" content="方伟泽，插卡音箱;电话线;电话转接头;电话配件;" />
<script src="/js/lib.js"></script>
<script src="/js/common.js"></script>
<script src="js/jquery.ad-gallery.js"></script>

 <link rel="stylesheet" type="text/css" href="css/jquery.ad-gallery.css">
<script type="text/javascript">

	$(document).ready(function(){
		//图片展示开始
		$('img.image1').data('ad-desc', 'Whoa! This description is set through elm.data("ad-desc") instead of using the longdesc attribute.<br>And it contains <strong>H</strong>ow <strong>T</strong>o <strong>M</strong>eet <strong>L</strong>adies... <em>What?</em> That aint what HTML stands for? Man...');
        $('img.image1').data('ad-title', 'Title through $.data');
        $('img.image4').data('ad-desc', 'This image is wider than the wrapper, so it has been scaled down');
        $('img.image5').data('ad-desc', 'This image is higher than the wrapper, so it has been scaled down');
        var galleries = $('.ad-gallery').adGallery();
        
        //些函数于用设置过渡效果
        $('#switch-effect').change(
          function() {
            galleries[0].settings.effect = $(this).val();
            return false;
          }
        );
        
        $('#toggle-slideshow').click(
          function() {
            galleries[0].slideshow.toggle();
            return false;
          }
        );
        $('#toggle-description').click(
          function() {
            if(!galleries[0].settings.description_wrapper) {
              galleries[0].settings.description_wrapper = $('#descriptions');
            } else {
              galleries[0].settings.description_wrapper = false;
            }
            return false;
          }
        );
	    //图片展示结束
     
 	    //点击其他相册事件
	    $(".SelectOrder").click(function(){
		    $(".SelectOrder ul").css("display","block");
	    }).blur(function(){
		    $(".SelectOrder ul").css("display","none");
	    });
});
	
	
</script>

</head>
<body>
<div class="AlbumBodyBg">
	<div class="head" s>
    	<div class="HeadLeft">&nbsp;苏得冠</div>
        <div class="HeadRight" >
        	<div class="HRR1">
            	
            </div>
            <div class="HRR2">
            	<ul>
                	<li class="HRR2Li1"><a href="#">收藏本公司</a></li>
                    <li class="HRR2Li2"><a href="#">设为首页</a></li>
                    <li class="HRR2Li3"><a target="blank" href="http://wpa.qq.com/msgrd?V=1&Uin=416351551&Site=www.apsw8.com&Menu=yes">
                                            <img src="http://wpa.qq.com/pa?p=1:416351551:4" alt='online' style='font-family: Arial'>给我留言</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="Content" style="float:left;" >
         <!--========内容中间部分开始=================-->
         	<div class="ContentMiddle">
            	<!--==========左边开始==================-->
                <div class="ContentLeft">
                	<div class="SelectOrder">
                     	<ul>
                        	<li><a href="#">热销产品</a></li>
                            <li class="Selected"><a href="#">我的相册</a></li>
                        </ul>
                    </div>
                </div>
                <!--==========左边结束==================-->
               
            	<!--========展示区开始=================-->
            	   <div id="gallery" class="ad-gallery">
                   	<div class="ad-gallery-left">
                          <div class="ad-image-wrapper">
                          </div>
                          <div   class="ad-controls">
                          </div>
                          <div class="ad-controls2" >
                          		<div class="ad-controls2Content">
                                    <div  class="ad-contentR1">
                                    	<a href="#" class="ad-pre"></a>
                                        <a href="#" title="自动播放" class="ad-paly"></a>
                                        <a href="#" class="ad-next2"></a>
                                    </div>
                                	<div  class="ad-contentR2">
                                    <a href="#" class="PrevAlbum">上本相册</a>相册名称：<span>我的相册</span><a href="#" class="NextAlbum">下本相册</a>
                                    </div>
                                </div>
                          </div>
                      </div>
                      <div class="ad-nav">
                        <div class="ad-thumbs">
                          <ul class="ad-thumb-list" >
                                <li>
              <a href="http://coffeescripter.com/code/ad-gallery/images/1.jpg">
                <img onload="changeImg(this,62,62)"  src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t1.jpg" title="A title for 1.jpg" longdesc="http://coffeescripter.com/" alt="This is a nice, and incredibly descriptive, description of the image 1.jpg" class="image0">
              </a>
            </li>
                        <li>
              <a href="http://coffeescripter.com/code/ad-gallery/images/10.jpg">
                <img onload="changeImg(this,62,62)"  src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t10.jpg" title="A title for 10.jpg" longdesc="http://coffeescripter.com/" alt="This is a nice, and incredibly descriptive, description of the image 10.jpg" class="image1">
              </a>
            </li>
                        <li>
              <a href="http://coffeescripter.com/code/ad-gallery/images/11.jpg">
                <img onload="changeImg(this,62,62)"  src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t11.jpg" title="A title for 11.jpg" longdesc="http://coffeescripter.com/" alt="This is a nice, and incredibly descriptive, description of the image 11.jpg" class="image2">
              </a>
            </li>
                        <li>
              <a href="http://coffeescripter.com/code/ad-gallery/images/12.jpg">
                <img onload="changeImg(this,62,62)"  src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t12.jpg" title="A title for 12.jpg" longdesc="http://coffeescripter.com/" alt="This is a nice, and incredibly descriptive, description of the image 12.jpg" class="image3">
              </a>
            </li>
                        <li>
              <a href="http://coffeescripter.com/code/ad-gallery/images/13.jpg">
                <img onload="changeImg(this,62,62)"  src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t13.jpg" title="A title for 13.jpg" longdesc="http://coffeescripter.com/" alt="This is a nice, and incredibly descriptive, description of the image 13.jpg" class="image4">
              </a>
            </li>
                        <li>
              <a href="http://coffeescripter.com/code/ad-gallery/images/14.jpg">
                <img onload="changeImg(this,62,62)"  src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t14.jpg" title="A title for 14.jpg" longdesc="http://coffeescripter.com/" alt="This is a nice, and incredibly descriptive, description of the image 14.jpg" class="image5">
              </a>
            </li>
                        <li>
              <a href="http://coffeescripter.com/code/ad-gallery/images/2.jpg">
                <img onload="changeImg(this,62,62)"  src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t2.jpg" title="A title for 2.jpg" longdesc="http://coffeescripter.com/" alt="This is a nice, and incredibly descriptive, description of the image 2.jpg" class="image6">
              </a>
            </li>
                        <li>
              <a href="http://coffeescripter.com/code/ad-gallery/images/3.jpg">
                <img onload="changeImg(this,62,62)"  src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t3.jpg" title="A title for 3.jpg" longdesc="http://coffeescripter.com/" alt="This is a nice, and incredibly descriptive, description of the image 3.jpg" class="image7">
              </a>
            </li>
                        <li>
              <a href="http://coffeescripter.com/code/ad-gallery/images/4.jpg">
                <img onload="changeImg(this,62,62)"  src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t4.jpg" title="A title for 4.jpg" longdesc="http://coffeescripter.com/" alt="This is a nice, and incredibly descriptive, description of the image 4.jpg" class="image8">
              </a>
            </li>
                        <li>
              <a href="http://coffeescripter.com/code/ad-gallery/images/5.jpg">
                <img onload="changeImg(this,62,62)"  src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t5.jpg" title="A title for 5.jpg" longdesc="http://coffeescripter.com/" alt="This is a nice, and incredibly descriptive, description of the image 5.jpg" class="image9">
              </a>
            </li>
                        <li>
              <a href="http://coffeescripter.com/code/ad-gallery/images/6.jpg">
                <img onload="changeImg(this,62,62)"  src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t6.jpg" title="A title for 6.jpg" longdesc="http://coffeescripter.com/" alt="This is a nice, and incredibly descriptive, description of the image 6.jpg" class="image10">
              </a>
            </li>
                        <li>
              <a href="http://coffeescripter.com/code/ad-gallery/images/7.jpg">
                <img onload="changeImg(this,62,62)"  src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t7.jpg" title="A title for 7.jpg" longdesc="http://coffeescripter.com/" alt="This is a nice, and incredibly descriptive, description of the image 7.jpg" class="image11">
              </a>
            </li>
                        <li>
              <a href="http://coffeescripter.com/code/ad-gallery/images/8.jpg">
                <img onload="changeImg(this,62,62)"  src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t8.jpg" title="A title for 8.jpg" longdesc="http://coffeescripter.com/" alt="This is a nice, and incredibly descriptive, description of the image 8.jpg" class="image12">
              </a>
            </li>
                        <li>
              <a href="http://coffeescripter.com/code/ad-gallery/images/9.jpg">
                <img onload="changeImg(this,62,62)"  src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t9.jpg" title="A title for 9.jpg" longdesc="http://coffeescripter.com/" alt="This is a nice, and incredibly descriptive, description of the image 9.jpg" class="image13">
              </a>
            </li>
                            
                          </ul>
                        </div>
                      </div>
                      
                    </div>
                    <!--========展示区结束=================-->
            </div>
         <!--========内容中间部分结束=================-->
    </div>
     <!--==============内容部分结束===============-->
     
</div>
</body>
</html>
