<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Com.DianShi.Model.Transaction.Properties.Settings.dsConnectionString"
            connectionString="Data Source=PC2011102412YEG\sql0801;Initial Catalog=ds;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Com.DianShi.Model.Transaction.Properties.Settings.DianShiConnectionString"
            connectionString="Data Source=.\MYSQLEXPRESS;Initial Catalog=DianShi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>