.main{width:952px;margin:0 auto;margin-top:10px; overflow:auto;zoom:1;}
.left{width:760px;float:left;}
.right{width:172px;margin-left:780px;_margin-left:777px;}
.box_head{ background-color:#f5f5f5;margin-top:1px;height:34px;line-height:34px;}
.b_d_title{font-size:14px;font-weight:bold; text-indent:14px;}
.app_wrap{border:solid 1px #e3e3e3;margin-bottom:10px;}
ul.app_list{width:752px;margin:0px auto;padding:7px 0; overflow:hidden;}
.app_list li{float:left;}
.app_list a:link,.app_list a:visited{display:block;width:90px;height:90px;padding:1px;border:solid 1px white;cursor:pointer;}
.md_wrap{width:90px;height:90px;}
.app_list a:hover{border-color:#cad0d4;}
.app_list a:hover .md_wrap{background-color:#f5f5f5;}
.model_ico{height:58px;width:90px;}
.app_list a .model_name{font-size:12px;text-align:center;line-height:28px;}
.offer,.salemana,.account,.winporter,.imagemanager,.idinfo,.purchase,.privateseller{background:none no-repeat center bottom;}
.offer{background-image:url(../../images/icon/offer.png)}
.salemana{background-image:url(../../images/icon/salemanagement.png);}
.account{background-image:url(../../images/icon/accountmanagement.png);}
.winporter{background-image:url(../../images/icon/winporter.png);}
.imagemanager{background-image:url(../../images/icon/imagemanager.png);}
.idinfo{background-image:url(../../images/icon/industryInformation.png);}
.purchase{background-image:url(../../images/icon/purchasemanagement.png);}
.privateseller{background-image:url(../../images/icon/privateseller.png);}
.right a:visited,.right a:link,.right{color:#666;}
.right a:hover{color:#ff7300;}
ul.nt_list{line-height:16px;width:160px;margin:0 auto;padding:8px 0;list-style:disc inside;}
.nt_list li{border-bottom:dashed 1px #ccc;margin-bottom:10px; }

.content-wrap{border-top:1px solid #E3E3E3;min-height: 1px;margin-top:1px;}
.cel0,.cel1{overflow:auto;zoom:1;}
.cel0{padding: 0 0 8px; }
.row {float: left;height: 100%;overflow: hidden;width: 379px;}
.member-info {padding: 12px 0 0;}
.user-pic-grid {display: inline;float: left;height: 44px;margin: 0 20px 0 14px;overflow: hidden;}
.user-pic-grid a {border:1px solid #ccc;display: inline-block;height: 40px;padding: 1px;width: 40px;}
.user-pic-grid img {display: block;}
.member-info h3 {font-size: 14px;height: 24px; font-weight:normal;}
.member-info a:link,.member-info a:visited {color: #666666;text-decoration: none;}
.member-info a:hover,table a:hover{text-decoration:underline;}
.member-info h3 .company-link{float: left;}
.member-info .not-auth:link, .member-info .not-auth:visited {border: 1px solid #D68533;color: #C85A00;display: inline-block;font-size: 12px;
  height: 18px;
  line-height: 18px;
  margin-left: 8px;
  padding-left: 1px;
  text-align: center;
  text-decoration: none;
  width: 66px;
}
.member-info h3 a.site-link {margin: 0 0 0 4px;overflow: hidden;}
.sub-info-wrap {margin-left: 78px;}
.sub-info {float: left;margin-right: 12px;padding-top: 2px;}
.iserver {height: 36px;padding-top: 14px;}
.t-box {color: #666666;float: left;font-weight: bold;line-height: 17px;padding-left: 8px;width: 34px;}
.t-box a:link,.t-box a:visited,.t-big-box a:link,.t-big-box a:visited {color: #666666;}
.iserver-grid {float: left;height: 36px;overflow: hidden;padding-left: 16px;width: 290px;}
.border-lf {border-left: 1px solid #EEEEEE;}
table{border-collapse: collapse;border-spacing: 0;}
table a:link, table a:visited {color: #336699;}

.cel1 {border-top: 1px solid #EEEEEE;height: 84px;}
.icommunity {padding-top: 14px;}
.border-lf {
  border-left: 1px solid #EEEEEE;
  float: left;
}
.default-grid {height: 58px;padding-left: 10px;width: 310px;}


.middle_wrap{overflow:auto;zoom:1;}
.box_wrap{width:370px; float:left;}
.odd{margin-right:20px;}

/*=========为您推荐=============*/
.wrap368 {
  overflow: hidden;
  width: 349px;
  margin:10px auto;
}
.box-mn{border-bottom:solid 1px #b1c8d7;height:25px;}
.box-mn li{background-color:#e7eff6; float:left;line-height:24px;text-align:center;width:68px;border:solid 1px #b1c8d7;margin-left:10px; position:relative;top:0px;cursor:pointer;}
.box-mn li.current{border-bottom-color:White; background-color:White;}
.com_wrap{margin-top:10px;}
.pro-list{overflow:auto;zoom:1;width:368px;}
.pro-list li{float:left;width:73px;margin-right:19px; overflow:hidden;margin-bottom:3px;}
.img-ctn{width:73px;height:73px; overflow:hidden;text-align:center;}
.pro-title{line-height:16px;height:16px; overflow:hidden}
.pro-title a:link,.pro-title a:visited,.com-name a:link,.com-name a:visited{color:#0066cc}
.pro-pri span{color:#ff7300}

.com-list li{border-bottom:dotted 1px #d2e4fa;margin-bottom:3px;}
.com-name{ overflow:auto;zoom:1;}
.com-name a{display:block;float:left;width:230px; overflow:hidden;height:16px;line-height:16px;}
.com-area{margin-left:240px;_margin-left:237px;text-align:right;}
.com-pro-model{margin-top:9px;}

/*=========为您推荐=============*/