.item{ overflow:auto;zoom:1;line-height:26px;margin-top:6px;}
.iLeft{width:112px; text-align:right;}
.iRight{color:#686868;}
.txtbox{width:234px;height:18px;line-height:18px;border:solid 1px #B5B5B5;}
#content{width:90%;height:350px;}
.loading2{ background-position:left;padding-left:20px;display:none;}