.tblist{width:100%; border-collapse:collapse;margin-top:8px;}
.tblist th{ background:url(../images/bg.gif) repeat-x;}
.tblist th{ background-position: 0 -51px;line-height:23px;border:solid 1px #dbd9d9;}
.tblist td{ text-align:center;padding:6px 0;}
.altr{ background-color:#f7fbfe;}