.ctList{margin-bottom:30px;}
.ctList li{margin-top:10px;position:relative; overflow:auto;zoom:1;}
.ctList li span{width:100px; text-align:right;float:left;display:block;line-height:22px;*line-height:26px;margin-right:12px;}
.txtbox{width:234px;height:18px;line-height:18px;border:solid 1px #B5B5B5;}
label.error{display:block;}
label.valid{display:inline}
.BusinessType{width:234px;}
.RegCapital,.ZipCode{width:60px;}
.companyAddress{background:url(/Member/Manage/images/icon.gif) no-repeat right -130px;width:180px;}
.busArea,.regArea{width:300px;}
.oserver,.buypro{width:90px;}
li.oser,li.bser{margin-top:4px;display:none;}
.profile{width:600px;height:155px;}
li.buyser,li.osererror{margin-top:0px;}
.YearEst{width:80px;}
.Remind{padding:5px;line-height:20px;border:solid 1px #ffc590; background-color:#fff7eb;margin-top:15px;}
li.liprofile{height:236px;}



