@import url("/template/css/Globle.css");
.Main { 
	width: 100%;
	overflow:auto;zoom:1;
	color:#333;
 }
 .Content{
	width:952px;
	margin:8px auto 0 auto;
    overflow:auto;zoom:1;
 }
 .Head{
 	height:90px;
	line-height:90px;
	background: url(../images/topbaner.gif) no-repeat;
 }
 .Head h1{
	color:#333;
 }
 
 .HeaderMenuBar{
	background: url(../images/header_menu.gif) repeat-x;
	height: 30px;
 
 }
 .HeaderMenuBar ul{margin-left:2em;}
 .HeaderMenuBar ul li a{
	font-size:14px;
	font-weight:bold;
	color:#555;
    margin-top:6px;
 }
 
 .HeaderMenuBar ul li{
 	width:99px;
	height:28px;
	float:left;
	line-height:32px;
	text-align:center;
	
 }
  .HeaderMenuBar ul li:hover{
  	background: url(../images/header_menu_check.gif) no-repeat;
  }
 .HeaderMenuBar ul li:hover a,.HeaderMenuBar ul li.Check a{color:#ff7300;}
 .HeaderMenuBar ul li.Check{
	background: url(../images/header_menu_check.gif) no-repeat;
 }
 .headTopic{
	background:url(http://i03.c.aliimg.com/images/app/winport/layout/diybackground/style/temp61/head_topic.jpg) no-repeat left top;
	height:194px;
 }
 .ContentMiddle{
	overflow:auto;zoom:1;
	width:952px;float:left;
 }
 .MiddleLeft{
	width:200px;
	float:left;
 }
 .UserInfo li{width:200px;float:left;}
 .MiddleRight{
	float:right;
 	width:742px;
	
 }
 .UserInfoHead,.UserInfoBottom{background: url(../images/mod-tb.gif) no-repeat;}
 .UserInfoHead{
	height:42px;
 }
 .a_xl,.tpx{position:relative;top:8px;}
 .UserInfoMiddle{
	background: url(../images/mod-c.gif) repeat-y;
 }
 .ifm_wrap{width:176px;margin:6px auto;line-height:20px;}
 .ui_comname{font-size:14px;}
 .mbname{ position:relative;padding-top:3px;}
 .bbord{border-bottom:solid 1px #ddd;padding-bottom:5px;margin-bottom:5px;}
 .mbname span{padding-top:0px;}
 .qqonline{overflow:auto;zoom:1; position:absolute;left:76px;top:2px;*top:-1px; display:block;float:left;line-height:18px;border:solid 1px #ddd;padding:0 3px;}
 .qqonline img{float:left;}
 .cl6c{color:#0066cc}
 .ui_comname a:link,.ui_comname a:visited,.qqonline:link,.qqonline:visited,.Bottom a:link,.Bottom a:visited{color:#0066cc}
 .ui_comname a:hover,.qqonline:hover{ text-decoration:underline;color:#ff7300}
 .addfv{text-align:center;}
 .addfv a{padding:5px 6px; background:url(../../images/pagecollect.gif);}
 .addfv a span{ visibility:hidden;}
 .UserInfoBottom{
 	background-position:0 -42px;
	height:4px;
	line-height:4px;
	overflow:hidden;
 }
 
 .About,.TzProduct,.NewProduct,.Modle{
	border:solid 1px #cbeae5;
  }
  .NoTopBorder{border-top:none 0;}
 .AboutHead,.TzHead,.NewHead,.ModleHead{
 	height:28px;
	background:url(../images/cefbfe.gif) repeat-x;
 }
 .AHLeft,.AHRight,.TzHLeft,.TzHRight,.NewHLeft,.NewHRight,.MHLeft,.comTips{
	line-height:28px;
	color:#005b70;
	height:28px;
  }
  .comTips{ text-align:center;}
 .AHLeft,.TzHLeft,.NewHLeft,.MHLeft{float:left; width:85px;font-weight:bold;font-size:14px; text-indent:1em;}
 .AHRight,.TzHRight,.NewHRight{float:right;width:50px;font-weight:normal;font-size:12px;font-family:宋体;}
 .AboutBody,.TzBody,.NewBody{
 	padding:5px 12px 12px 10px; overflow:auto;zoom:1;
 }
 .AboutBody img{float:left;margin-right:5px;}
 .Split12px{
	height:8px;
	overflow:hidden;
}
 .TzContent1,.NewContent{
 	 width:686px;
	 margin:0 auto;
	 overflow:hidden;
 }
 .TzContent1 ul{width:2816px;overflow:hidden;}
 .NewContent ul{width:704px; overflow:hidden;}
 .TzContent1 ul li,.NewContent ul li{
	 float:left;
	 width:158px;
	 height:242px;
	 margin-right:18px;
 }

 .TzContent1 ul li div.TzImg,.NewContent ul li div.NewImg{
  	 width:156px;
	 height:156px;
	 border:solid 1px #e2e2e2;
	 text-align:center; 
 }
 .TzImg,.NewImg{
	display:table-cell;
    vertical-align:middle;
    *display:block;
    *font-size:104px;
 }
 .TzImg img,.NewImg img,.AboutImg{
	 vertical-align:middle;
	 max-width:150px;
	 max-height:150px;
	 _autosize:expression(changeImg(this,150,150));
  }
.nopro{text-align:center;display:none;}
 .TzContent1 ul li div,.NewContent ul li div{ text-align:center;}
 .TzContent1 ul li span.price,.NewContent ul li span.price{
	 font-size:14px;
	 font-weight:bold;
	 color:red;
 }
 .def-price,.mixText{color:#8f8f8f;}
 .ProductTitle{height:36px;}
 
 .BottomSplitLine{ background-color:#ff7300;height:2px;overflow:hidden;width:952px;margin:0 auto;}
 .Bottom{height:100px;width:952px;margin:0 auto; text-align:center;padding-top:16px;}
 .Bottom a:link{color:#05a;}
 .Bottom a:hover{color:#ff7300;}
 
 .ulSearch{
	margin:0 auto;
	margin-top:8px;
	width:172px;
	height:87px;
 }
 .liSearchBtn{padding-left:3.3em;}
 .marginLeft1em{margin-left:12px;}
 .proNameInput{width:124px; vertical-align:middle;}
 .minPrice,.maxPrice{width:47px;}

 .ulSearch li{margin-bottom:5px;float:left;line-height:21px;}
 
 .SearchBtn,.LeftModleBody ul li,.ContactBody ul li.clb,.AlbumBody_Head_title,.more,
 .LeftModleBody ul li:hover,.AlbumList li div.AlbumImg,.div001,.updownContainer a,.odli1 dl dd.d-btn-add a,
 .odli1 dl dd.d-btn-buy a,.ul005 li #btnSend,.dLeft,.dMiddle,.dRight,.de-hunpi,.de-leftcon,.moreContent a span,
 .credit
 {
 	background: url(../images/indexSplit.gif) no-repeat;
 }
 .SearchBtn{
	width:69px;
	height:25px;
	border:none 0;
 }
 .MiddleLeft div{ float:none; }
 .MiddleLeft div.Split12px{width:200px;}
 .MiddleLeft div.AHLeft,.SearchBody{width:198px;}
 .ulCategory{width:172px; overflow:auto;zoom:1;}
 .LeftModleBody{
 	width:198px;
	overflow:auto;zoom:1;
 }
 .LeftModleBody ul li{
	 text-indent:20px;
	 border-bottom:dotted 1px #bfbfbf;
	 width:198px;
	 line-height:22px; 
	 height:22px;
	 background-position:-286px 7px;
 }
 .ContactBody{overflow:auto;zoom:1;}
 .ContactBody ul li{height:20px;line-height:20px; text-indent:10px;width:198px;}
 .ContactBody ul li.QQ{height:30px;line-height:30px;}
 .LeftModleBody ul li:hover{background-position:0 -51px;}
 .more{
	 border:none 0;
	 background-position:-106px -16px;
	 text-indent:160px;
	 
 }
 .more{line-height:22px;}
 .AlbumBody{overflow:auto;zoom:1;}
 .AlbumBodyContainer{width:700px;overflow:auto;zoom:1;margin:0 auto;margin-top:8px;}
 .AlbumBody_Head{border-bottom:solid 1px #dbdbdb;margin:0 auto; overflow:auto;zoom:1;}
 .AlbumBody_Head li{
	 height:20px;line-height:20px;
	 text-align:center;float:left;font-weight:bold;color:#666;}
 .AlbumBody_Head_title{width:68px; background-position:-134px -87px;}
 .AlbumBody_Head_Remark{width:632px;}
 .AlbumList{overflow:auto;zoom:1;}
 .AlbumList li{
 	float:left;margin-right:10px;width:130px;height:200px;
	text-align:center;
 }
 .AlbumList li div{width:130px;}
 .AlbumList li div.AlbumImg
 {
 	height:150px;background-position:0 -87px;
	display:table-cell;
    vertical-align:middle;
    +display:block;
    +font-size:98px;
 }
 .AlbumList li div.AlbumName a:link{color:#898989;}
 .AlbumList li div.AlbumName a:hover{color:#ff7300;}
 .AlbumList li div img
 {
 	vertical-align:middle;
    max-width:100px;
	max-height:140px;       
  }
 .Split12_1{float:left;width:100%;}
 .div001{float:right;width:21px;height:21px;background-position:-237px -89px;cursor:pointer;}
 .div002{background-position:-207px -89px;}
 .ul001,.ul002{overflow:auto;zoom:1;}
 .ul001{margin-top:6px;}
 .ul001 li{float:left;line-height:22px;height:22px;width:185px; text-indent:12px;}
 .ul001 li a{color:#555;}
 .ul001 li a:hover{color:#ff7300;}
 .ul002{margin-top:12px;}
 .ul002 li{height:45px; float:left; text-indent:12px;}
 .ul002 li span{padding-right:24px;color:#222;}
 #SearchBtn2{float:left;margin-left:12px;}
 .ul003{border-top:solid 1px #ebebeb;}
 .ul003 li{height:10px;line-height:10px;}
 .pTitle{line-height:38px;height:38px;text-align:center;border-bottom:solid 1px #ddd;font-size:14px;font-weight:bold;}
 
 .divProHead{ overflow:auto;zoom:1;}
 .pPic{height:400px;}
 .pPic{float:left;width:320px;}
 .pInfo{margin-left:328px;_margin-left:325px;width:414px; overflow:auto;zoom:1;}

 .pPicTop
 {
 	width:320px;
 	height:320px;
 	border:solid 1px #ddd;
 
  }
 .pPicTop div{width:318px;overflow:hidden;}
 .pPicTop img
 {
 	max-width:312px;
	max-height:312px;
	_autosize:expression(changeImg(this,312,312));   
 }

 .pPicBottom{width:230px; margin:0 auto;margin-top:12px;}
 .pPicBottom  li
 {
 	float:left;height:58px;width:58px;overflow:hidden;line-height:58px;text-align:center;border:solid 1px #ddd;
	  
  }

 .pPicBottom  li div{width:56px;height:56px;_font-size:50px; text-align:left;padding:1px; display:table-cell;vertical-align:middle;}
 .pPicBottom  li.lisplit{width:20px;border:none 0;}

 .pPicBottom li img
 {
 	max-width:56px;
	max-height:56px;
	_autosize:expression(changeImg(this,56,56));
	 
 }
 .thrumFrame{background-image:url(../images/thrumFrame.gif);width:60px;height:64px; position:absolute;display:none}
 

 .pInfo ul.ul004 li{width:207px;float:left;height:30px;line-height:30px;text-align:center;}
 .pInfo div.Split12px{float:left;width:414px;}
 .pInfoH{ background:url(../images/cefbfe.gif) repeat-x 0 -28px; }
 .pInfoL{border-bottom:dotted 1px #dcdcdc; display:none;}
 
 .fontSize14{font-size:14px;}
 .bold{font-weight:bold;}
 .divOrder{border:solid 1px #fee2a1; background-color:#fff6e1;height:200px;float:left;}


 .orderNum{width:70px;_height:20px;}
 .divOrder ul.ul005{padding:10px;}
 .divOrder ul.ul005 li.odli1{position:relative; overflow:hidden;zoom:1;}
 .updownContainer{width:17px; position:absolute;top:3px;left:117px;left:119px\9;+left:121px;_left:119px;}
 .updownContainer a.up,.updownContainer a.down{display:block;height:10px; overflow:hidden;}
 .updownContainer a.up{background-position:-151px -113px;}
 .updownContainer a.down{background-position:-151px -123px;}
 .updownContainer a:hover.up{background-position:-134px -113px;}
 .updownContainer a:hover.down{background-position:-134px -123px;}
 
 .ul005 li{margin-bottom:10px;}
 .ul005 li.msgTitle{margin-bottom:4px;}
 .ul005 li dl dd.dd001{width:4.5em;_width:51px;}
 .ul005 li dl dd{float:left;margin-right:10px;}
 .ul005 li dl dd.d-btn-buy a,.ul005 li dl dd.d-btn-add a{display:block;height:36px;font-size:16px;color:White;font-weight:bold;line-height:36px; text-align:center;}
 .ul005 li dl dd.d-btn-buy a{ background-position:0 -251px;width:101px;}
 .ul005 li dl dd.d-btn-add a{ background-position:-110px -251px;width:112px;}
 .ul005 li dl dd.d-tip-add a{line-height:36px;}
 .ul005 li dl dd.d-tip-add a:hover{ text-decoration:underline;}
 .ul005 li div.divLine1{width:390px;margin:0 auto;height:10px;overflow:hidden;border-bottom:solid 1px #ffebb5;}
 .ul005 li #inpMsg,.ul005 li #btnSend{float:left;}
 .ul005 li #inpMsg{width:260px;height:22px;line-height:22px;border:solid 1px #d5d5d5;border-right:none 0;color:#bfbfbf;}
 .ul005 li #btnSend{width:57px;height:26px;line-height:26px;font-weight:bold;border:none 0; background-position:-229px -251px;}
 
 .ulProDetailTitle{border-bottom:solid 1px #e43e00; overflow:auto;zoom:1;}
 .ulProDetailTitle li{height:29px;float:left;margin-right:4px;}
 .ulProDetailTitle li div{float:left;height:25px;line-height:25px;line-height:28px\9;+line-height:27px;_line-height:25px;margin-top:4px; overflow:hidden;}
 .dLeft{background-position:-111px -301px;}
 .dLeft span,.dLeft a{display:block;float:left;height:25px;color:#333;}
 .dLeft span{width:15px;}
 .dLeft a:hover{ text-decoration:underline;}
 .dRight{width:15px; background-position:-203px -301px;}
 .ulProDetailTitle li div.dLeftChk{background-position:0 -297px;height:29px;line-height:29px;line-height:32px\9;+line-height:31px;_line-height:29px;margin-top:0px;color:White;}
 .ulProDetailTitle li div.dLeftChk a{color:White;text-decoration:none;}
 .ulProDetailTitle li div.dRightChk{background-position:-92px -297px;height:29px;margin-top:0px;}
 
 .proProperty{margin-top:5px;}
 .proProperty table{ border-collapse:collapse;width:100%;}
 .proProperty table tr td{border:solid 1px #e5e5e5;height:30px; padding-left:6px; width:274px;}
 .proProperty table tr td.fieldHead{width:86px; text-align:right;font-weight:bold; background-color:#f7f7f7;}
 
 .description-detail{margin-top:8px;overflow:hidden;width:742px}
 .description-detail img{margin-top:8px;}
 .propertyPf{height:30px;line-height:30px;font-size:14px;border-top:solid 1px #e5e5e5; text-indent:1em;font-weight:bold;}
 .de-blockbd{padding:10px 12px 0 1em;}
 .de-leftcon{width:438px;height:134px;padding-right:44px; background-position:464px -330px;}
 .de-rightcon{margin-left:438px;_margin-left:435px;}
 .de-top{border-bottom:solid 1px #e5e5e5;line-height:28px;}
 .de-top em{font-weight:bold;}
 .de-top div{margin-left:1em;}
 .de-hunpi{width:37px;height:14px;background-position:-179px -116px;font-size:0;overflow:hidden;}
 .marginTop8{margin-top:8px;}
 .oflAuto{ overflow:auto;zoom:1;}
 .float-l{float:left;}
 .float-r{float:right;}
 .de-info{padding-top:8px;}
 .pContent2,.pContent3,.pContent4{display:none}
 
 .proContent{padding:1em;}
 .pContent1{padding:0 0 1em 0;}
 .moreTitle{float:left;width:170px;}
 .moreProduct{float:right;width:170px;}
 .moreProduct a{font-size:12px;font-weight:normal;}
 .moreProduct a:link,.moreProduct a:visited,.suggest h4 a:link,
 .suggest ul li h4 a:visited,.categoryLink a:link,.categoryLink a:visited{color:#0066cc;}
 .moreProduct a:hover,.suggest h4 a:hover,.categoryLink a:hover{color:#ff7300;}
 .moreContent{margin-top:2em;}
 .moreContent,#J_sugPre,#J_sugNext,.suggest{height:166px;}
 #J_sugPre,#J_sugNext{display:block;width:20px; position:relative; overflow:auto;zoom:1;}
 #J_sugPre  span,#J_sugNext  span{display:block; font-size:0;_overflow:hidden;width:16px;height:30px; position:absolute;top:40px;left:0;}
 
 #J_sugPre,#J_sugNext,.suggest{float:left;}
 
 #J_sugPre span.disabled{ background-position:-176px -148px;}
 #J_sugPre span.active{ background-position:-157px -148px;}
 #J_sugPre:hover span.active{ background-position:-134px -148px;cursor:pointer;top:39px;}
 
 #J_sugNext span.disabled{ background-position:-238px -148px;}
 #J_sugNext span.active{ background-position:-219px -148px;}
 #J_sugNext:hover span.active{ background-position:-198px -147px;cursor:pointer;top:39px;}
 
 .suggest{width:700px;overflow:hidden;}
 .suggestContainer div{width:140px;float:left;height:166px; text-align:center;}
 .suggestContainer div ul{width:108px;margin:0 auto;}
 .suggestContainer div a.linkImg{display:table-cell; *display:block; vertical-align:middle; text-align:center; width:104px;height:104px;padding:1px;border:solid 1px #e5e5e5;overflow:hidden;}
 .suggestContainer div a:hover.linkImg{border-color: #ff7300;}
 h4{font-weight:normal;font-size:12px;}
 h4 a{display:block;color:#0066cc;height:32px;line-height:16px;overflow:hidden;}
 .moreCategory{padding:6px;border:solid 3px #f6f6f6;margin-top:20px;}
 .moreCategory .propertyPf{border-top:none 0;border-bottom:dotted 1px #dcdcdc; text-indent:0;}
 .categoryLink{line-height:30px;font-family:"宋体";}
 .profileBody{padding:6px;}
 .comimgCtn{float:left;width:300px;height:228px; position:relative;margin-right:6px;margin-bottom:6px;}
 .comimgCtn img{ position:absolute;top:0;left:0;}
 .contactBody{padding:18px;padding-top:9px;}
  .companyName
  {
      font-weight:bold;font-size:14px;
  }
  .contacts{color:Black;}
  .contactsDetail{line-height:20px;}
  .contact-man{line-height:30px; overflow:auto;zoom:1;}
  .contact-man dt,.contact-man dd{float:left;}
  .credit{background-position:-291px -94px;}
  .credit { padding-left:15px;}
  .overFlowAuto{ overflow:auto;zoom:1;}
  .comLink a.marginLeft{margin-left:5.5em;}
  .contactsLine{border-bottom:dashed 1px #b5b5b5;margin:1em 0;}
  em{font-style:normal;}
  .newsBody,.newsComent{padding:1em;}
  .newsBody ul{padding-bottom:14px;margin-bottom:10px;border-bottom:dashed 1px #b5b5b5;}
  .newsBody ul li{line-height:22px;padding-left:1em;overflow:auto;}
  .newsBody ul li img,.newsBody ul li a{float:left;}
  .newsBody ul li img{margin-top:2px;margin-right:2px;_margin-top:4px;}
  .gray{color:Gray;}
  .newsBody h3,.newsBody .gray{padding-left:1em;}
  .newsFontSize{text-align:right;}
  .newsFontSize a{ text-decoration:underline;}
  .newsContent{margin-top:1em; text-indent:2em;}
  
  .comfloor{ text-indent:3em;}
  .comContent ul{ overflow:auto;zoom:1;}
  .comConDetail{line-height:18px;font-size:14px;color:Black;}
  .comContent ul li{float:left;}
  .comContent ul li div,.comReply{margin-bottom:8px;}
  .comDel,.comReply{ text-align:right;}
  .comDel input,.comLiDetail input{width:60px;height:22px;line-height:16px;padding:0;}
  .comLiDetail{width:610px;width:613px\9;+width:612px;}
  .comLiDetail input{width:84px;}
  .comHeadFace{width:66px; text-align:center;}
  .comHeadFace img{width:46px;height:46px;border:solid 1px gray;}
  .comLiDetail{padding-left:1.5em;}
  .comCheck input{ visibility:visible;}
  .comSelectAll,.comDel{display:block;}
  .comSelectAll{margin:12px;}
  .publishComent{padding-top:2em;}
  .publishComent-cont,.publishComent-btn{ text-align:center;}
  .publishComent-cont textarea{width:550px;height:100px;}
  .publishComent-cont ul{width:600px;margin:auto;}
  .publishComent-cont ul li{float:left;}
  .publishComent-btn{margin-top:20px;margin-bottom:10px;}
  
  .ctname{color:#0048a2;font-size:26px;font-weight:bold;}
  .ctctn{border-bottom:dashed 1px #ccc;width:350px;}
  .ctlist{line-height:22px;}
  
  .hide{display:none;}
  #dtfr{padding:10px;width:350px;}
  .pagerwrap{margin:10px;}