@import url("/Css/Globle.css");
html{ overflow:hidden;}
.topbar_wrap{height:42px; background:url(../images/259721_426256670.png) repeat-x;border-bottom:solid 2px #ccc;}
.ct_wrap{width:962px;margin:0 auto;height:42px; position:relative;}
.ds_logo,.menu a:hover div,.mnhv span,.mnhv div,.fix_tag,.sch_prj,.sch_btn{background:url(../images/352592_426256671.gif) no-repeat;}
.ct_ul{height:42px; overflow:hidden;}
.ct_ul li{float:left;height:42px;font-family:"微软雅黑";}
.menu{margin-left:8px;padding-top:9px;font-size:15px;}
.menu a:link,.menu a:visited{cursor:pointer;color:#d4dadf; overflow:auto;zoom:1;}
.menu div{float:left;line-height:25px;height:25px;}
.menu div.ml,.menu div.mr{width:8px; overflow:hidden;}
.menu a:hover div.ml{background-position:left -100px;}
.menu a:hover div.mm{background-position:-8px -100px;}
.menu a:hover div.mr{background-position:right -100px;}
.mnhv div.ml{background-position:left -300px;}
.mnhv div.mm{background-position:-8px -300px; overflow:auto;zoom:1;}
.mnhv div.mr{background-position:-86px -300px;}
.mnhv div.mm span{display:block;float:left;height:25px;line-height:25px;background-position:-150px -292px;padding-left:16px;}
.ds_logo{width:94px; background-position:-84px 0;}

.app_wrap{position:absolute;left:0px;top:44px;height:150px;width:952px;border:solid 1px;display:none;}
.app_sub_wrap{position:relative;height:150px;}
.fix_bg{background-color:Black;height:150px;width:952px;z-index:3;position:absolute; filter:alpha(opacity=80);-moz-opacity:0.80;-khtml-opacity: 0.80;opacity: 0.80;}
.fix_ctn{position:absolute;height:150px;width:952px;z-index:4;color:White;}
.fix_ctn ul{overflow:hidden;height:94px;width:880px;margin:20px auto;}
.fix_ctn li{float:left;}
.fix_ctn a:link,.fix_ctn a:visited{display:block;width:86px;height:86px;padding:2px;color:White;cursor:pointer;}
.fix_ctn a:hover{background-color:#7e7e7e;}
.md_wrap{width:86px;height:86px;overflow:hidden;}
.fix_ctn a:hover .md_wrap{background-color:#454545;}
.fix_tag{position:absolute;height:10px;width:15px; overflow:hidden; left:292px;top:-11px; background-position:-49px -200px;}
.model_ico{height:58px;width:86px;}
.fix_ctn a .model_name{font-size:12px;text-align:center;line-height:28px;}
.offer,.salemana,.account,.winporter,.imagemanager,.idinfo,.purchase,.privateseller{background:none no-repeat center bottom;}
.offer{background-image:url(../images/icon/offer.png)}
.salemana{background-image:url(../images/icon/salemanagement.png);}
.account{background-image:url(../images/icon/accountmanagement.png);}
.winporter{background-image:url(../images/icon/winporter.png);}
.imagemanager{background-image:url(../images/icon/imagemanager.png);}
.idinfo{background-image:url(../images/icon/industryInformation.png);}
.purchase{background-image:url(../images/icon/purchasemanagement.png);}
.privateseller{background-image:url(../images/icon/privateseller.png);}

.sch_ctn{margin-left:60px;_margin-left:57px;}
.sch_wrap{position:relative;height:24px; top:9px;line-height:24px;float:left;}
.sch_wrap a,.sch_wrap div{float:left;display:block;height:24px;background-color:#f1f1f1;}
.sch_wrap div input{border:none 0;color:Gray; background-color:#f1f1f1;height:22px;line-height:22px;padding:0;}
.sch_wrap a:link,.sch_wrap a:visited{color:#555;}
.sch_prj{width:45px;background-position:33px -241px;text-indent:6px;}
.sch_btn{width:30px;background-position:0 -150px;}

.msg,.msgc{display:block;float:left;color:#d4dadf;height:25px;font-size:12px;}
.msgc{padding-left:4px;}
.mc_block{padding:0px 3px;line-height:14px; position:relative;top:6px; background-color:#df3726;}
.welcome,.homepage{margin-left:12px;line-height:42px;font-size:13px;}
.welcome,.homepage a:link,.homepage a:visited,.welcome a:link,.welcome a:visited{color:#d4dadf;}