.main{width:952px;margin:0 auto;}
.conLeft{width:150px;}
.conRight{margin-left:160px;_margin-left:157px;}
.subBtn{ background:url(../images/icon.gif) no-repeat;}
.subBtn{width:69px;height:31px; background-position:0 -89px;border:none;color:White;font-weight:bold;}

.hmenu{margin-top:10px; border-bottom:solid 1px #C3C3C3;height:30px;}
.hmenu li{float:left;margin-left:10px;_margin-left:7px;height:30px;position:relative; top:1px;}
.mLeft,.mMiddle,.mRight{ background:url(../images/bg.gif);}
.mLeft,.mMiddle,.mRight{float:left;height:30px;}
.mLeft,.mRight{width:3px;}
.mLeft{background-position:0 -103px;}
.mRight{background-position:0 -134px;}
.mMiddle{background-position:0 -165px;padding:0 12px; text-align:center;line-height:29px;font-weight:bold; position:relative;}
.lunsl{background-position:0 -196px;}
.munsl{background-position:0 -258px;}
.runsl{background-position:0 -227px;}
li.request{float:right; overflow:hidden;width:90px;}
.request .gray,.request .red{ position:absolute;bottom:0px;*bottom:-2px;_bottom:0;}
.request .gray{padding:0 5px 0 12px;}
.request .red{color:Red;bottom:-4px;*bottom:-3px;}
a:link,a:visited{color:#0066CC}
a:hover,.mMiddle span{color:#ff7300;}



