@import url("/Css/Globle.css");
html{ overflow:hidden;}
.topbar_wrap{height:42px; background:url(../images/259721_426256670.png) repeat-x;border-bottom:solid 2px #ccc;}
.ct_wrap{width:962px;margin:0 auto;height:42px; position:relative;}
.ds_logo,.menu a:hover div,.mm span,.mnhv div{background:url(../images/352592_426256671.gif) no-repeat;}
.ct_ul{height:42px; overflow:hidden;}
.ct_ul li{float:left;height:42px;}
.menu{margin-left:8px;padding-top:9px;font-size:14px;}
.menu a:link,.menu a:visited{cursor:pointer;color:white; overflow:auto;zoom:1;}
.menu div{float:left;line-height:25px;height:25px;}
.menu div.ml,.menu div.mr{width:8px; overflow:hidden;}
.menu a:hover div.ml{background-position:left -100px;}
.menu a:hover div.mm{background-position:-8px -100px;}
.menu a:hover div.mr{background-position:right -100px;}
.mnhv div.ml{background-position:left -300px;}
.mnhv div.mm{background-position:-8px -300px;}
.mnhv div.mr{background-position:-86px -300px;}
.mnhv div.mm span{display:block;float:left;height:25px;background-position:-150px -293px;padding-left:16px;}
.ds_logo{width:94px; background-position:-84px 0;}
.app_wrap{position:absolute;background-color:Black;left:0px;top:44px;height:150px;width:880px;border:solid 1px;filter:alpha(opacity=75);-moz-opacity:0.75;-khtml-opacity: 0.75;opacity: 0.75;}