.ctList{margin-bottom:30px;}
.ctList li{margin-top:18px;position:relative;}
.ctList li span{width:100px; text-align:right;float:left;display:block;line-height:32px;margin-right:12px;}
.txtbox{width:234px;height:24px;line-height:24px;border:solid 1px #B5B5B5;}
.phone-qh,.fax-qh{width:55px;}
.phone-hm,.fax-hm{width:110px;}
.phone-fj,.fax-fj{width:55px;}
label.error{left:360px;_left:260px;font-size:12px;}