.ctList{}
.ctList li{margin-top:18px;position:relative; overflow:auto;}
.ctList li span{width:100px; text-align:right;float:left;display:block;line-height:32px;margin-right:12px;}
.txtbox{width:234px;height:24px;line-height:24px;border:solid 1px #B5B5B5;}
label.error{left:360px;_left:260px;position:absolute;}

a.sendCC{display:block;padding:0 3px;line-height:20px;float:left;border:solid 1px #d5d5d5; background-color:#f6f6f6; text-align:center;color:#555;}
.msg{display:block;float:left;}

.validSuccess,.cancelValidate{width:400px;margin:0 auto;margin-top:50px;display:none;}
.sccon{line-height:22px;}
.sccon b{font-size:14px;}
.sicon{ background:url(../images/icon.gif) no-repeat;}
.sicon{width:54px;height:46px;}