.txtbox{border:solid 1px #B5B5B5;}
.scctn{padding:10px 0;padding-left:10px;}
#btnAdd{height:20px;}
.tblist{width:100%; border-collapse:collapse;}
.tblist th{ background:url(../images/bg.gif) repeat-x;}
.tblist th{ background-position: 0 -51px;line-height:23px;border:solid 1px #dbd9d9;}
.tblist td{ text-align:center;padding:6px 0;}
.altr{ background-color:#f7fbfe;}

.addctn{display:none;}
#divadd{width:300px;height:100px;}
#wBox .wBox_title{ background:url(../images/bg.gif) repeat-x;height:28px;color:#2b6fb6;}
