<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Com.DianShi.Model.Sys.Properties.Settings.DianShiConnectionString"
            connectionString="Data Source=.\MYSQLEXPRESS;Initial Catalog=DianShi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Com.DianShi.Model.Sys.Properties.Settings.hds0230549_dbConnectionString"
            connectionString="Data Source=hds-023.hichina.com;Initial Catalog=hds0230549_db;Persist Security Info=True;User ID=hds0230549"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>